
body {
    background-color: rgb(201, 201, 201);
    margin: 20%;
    position:relative;
    bottom:200px;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
    color:white;
    text-shadow: 5px 5px 10px rgb(15, 2, 73);
}
img {
    display: inline-block;
    width: 100%;
}
#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: black;
}
div#tribute-data {
    background-color: whitesmoke;
    box-shadow: 20px 20px 20px #171817;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    width:100%;
}

h1.title-APJ {
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px rgb(15, 2, 73);
}

#tribute-link {
    text-decoration: none;
    color: black;
}
